.App {
  text-align: center;
}
.container{
background-color: cornflowerblue;
height: 100vh;
width: 100% !important;
}

.fool{
  border-radius: 10px;
}
.bt{
  height: 5vh;
  background-color:blue !important;
  border-color: blue;
  font-weight: bolder !important;
}
.id{
  border-bottom:1px solid  gray;
}
.disp{
border-radius: 5px;
}